In [18]:
import pandas as pd

In [204]:
path = "C:/Users/Administrateur/DataAnalysis/DemographicData.csv"
df = pd.read_csv(path)

In [95]:
df

,Unnamed: 0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours/week,native-country,salary
0,0,39,state-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,1,50,self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,2,38,private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,3,53,private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,4,28,private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [139]:
# How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
df["race"].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [134]:
# What is the average age of men?
mean_age = df.loc[df['sex'].str.strip()  == 'Male', 'age'].mean() 
mean_age

39.43354749885268

In [130]:
# What is the percentage of people who have a Bachelor's degree?
bachelor_percentage = df["education"].value_counts(normalize= True)*100 
bachelor_percentage

HS-grad         32.250238
Some-college    22.391818
Bachelors       16.446055
Masters          5.291607
Assoc-voc        4.244341
11th             3.608612
Assoc-acdm       3.276926
10th             2.865391
7th-8th          1.983969
Prof-school      1.768987
9th              1.578576
12th             1.329812
Doctorate        1.268389
5th-6th          1.022696
1st-4th          0.515955
Preschool        0.156629
Name: education, dtype: float64

In [166]:
#What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
advanced_education = df.loc[(df["education"].str.strip() == "Bachelors") | (df["education"].str.strip() == "Masters") | (df["education"].str.strip() == "Doctorate" ) & (df["salary"] == ">50K")]
percentage_advanced_education = (len(advanced_education) / len(df)) * 100
percentage_advanced_education

22.677436196677007

In [163]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [177]:
#What percentage of people without advanced education make more than 50K?
without_advanced_education = df.loc[(df["education"].str.strip() != "Bachelors") & (df["education"].str.strip() != "Masters") & (df["education"].str.strip() != "Doctorate" ) & (df["salary"] == ">50K")]
percentage_without_advanced_education = (len(advanced_education) / len(df)) * 100
percentage_without_advanced_education

22.677436196677007

In [180]:
# What is the minimum number of hours a person works per week?
min_hour_per_week = df["hours-per-week"].min()
min_hour_per_week

1

In [188]:
# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K
perc_min_hours = df[(df["hours-per-week"] == min_hour_per_week ) & (df["salary"] == ">50K")]
percentage_min_hours = (len(perc_min_hours)/len(df))*100
percentage_min_hours

0.006142317496391388